*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
}

.img-box{
    min-width: 50%;
    display: inline-block;

}

.text-box{
    min-width: 50%;
    text-align: center;
    padding: 35px;
    display: inline-block;

}

.team_img{
    display: block;
    margin: 0 auto;

}

